<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="enddevicePage.js"></script>
</head>
<html>
    <div id="identifiers">
        <label>Nom d'organisation TTN</label>
        <input id="username" type="text" value="{{username-}}"/>
        <label>Clé d'API</label>
        <input id="api-key" type="text" value="{{api_key-}}"/>
        <button onclick="sendIdentifier()">Mettre à jour</button>
    </div>
    <div id="adding-device">
        <label>End device id</label>
        <input id="end-device-id" type="text"/>
        <button onclick="addEndDevice()">Ajouter l'end device</button>
        <p id="duplicate-error" hidden="true">Cet end device est déjà dans la liste</p>
    </div>
    <div >
        <ul id="end-device-list">
            {%- for end_device in end_device_list %}
            <li id="{{end_device-}}">
                <p>{{end_device-}}</p>
                <button onclick="deleteEndDevice('{{end_device-}}')">X</button>
            </li>
            {% endfor -%}
        </ul>
    </div>
</html>